<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="doe">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Nos ajude</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sobre">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label>Sobre nós</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contato">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Contato</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
